body{
    margin-top: 0px;
    background: lightblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#main-content{
    width: 50%;
    margin: 0px auto;
    background: rgb(252, 249, 250);
    min-height: 400px;
}

#header{
    padding: 1.4em;
    margin-top: 0px;
    color: rgb(252, 249, 250);
    background: rgb(31, 36, 39)
}

.headers{
    margin: 0px auto;
}

#div-weather-img img{
    width: 110px;
    height: 110px;
}
#weather-data table{
    width: 35%;
    margin: 0px auto;
    padding-inline-start: 0px;
    border: 1px solid grey;
}

#city{
    margin-top: 0px;
}

form input{
    padding: 10px 4px;
    font-size: 1.2em;
}

form input:first-child{
    width: 50%;
}
form input:first-child:focus {
    outline: none !important;
    border:1px solid rgb(31, 36, 39);
}

#bottom-spacer{
    height: 1.4em;
}
